@import url("style/header.css");
body {
    background-color: rgb(41, 151, 214);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
}

.h1 {
    color:rgb(15, 15, 158);
}

.h2 {

    color:rgb(155, 53, 53);
   
}
